.background,
.warning,
.error,
.errorGlow {
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 350ms, box-shadow 1000ms;
}

.background.active {
    background: #afa;
}

.warning {
    background: #faa;
}

.error {
    box-shadow: 0 0 5rem red inset;
}

.errorGlow {
    box-shadow: 0 0 2rem red inset, 0 0 10rem #ff6060 inset;
}
