.buttonsList {
    --padding: 5px;
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding) * 3);
    padding: var(--padding) 0;
}

@media (min-width: 777px) {
    .buttonsList {
        flex-direction: row;
        justify-content: stretch;
    }
}
