.timeDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    row-gap: 1rem;
    text-align: center;
}

.spacer {
    height: 2rem;
}
