.layoutChildren {
    bottom: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto min-content;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
}

@media (min-width: 777px) {
    .layoutChildren {
        bottom: 5px;
    }
}
