.layout {
    bottom: 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5rem auto min-content;
    left: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
