.timeUnit {
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
    width: 100%;
}

.timeInput {
    font-family: monospace;
    font-size: 7vh;
    text-align: center;
}

@media (min-width: 777px) {
    .timeInput {
        font-size: 20vw;
    }
}
