.notice {
    font-size: 10vh;
    font-weight: bold;
    position: relative;
    margin: 0 0 1rem;
    text-align: center;
}

@media (max-height: 777px) and (min-width: 777px) {
    .notice {
        font-size: 10vw;
    }
}
